extends layout

block content
    include ./logged-in-header.jade
    .container
        h2 Välj de länder du har besökt genom att klicka på kartan eller välja från listan nedanför.
        h3 De länder du väljer sparas automatiskt på ditt konto!
        #mapdiv
        #listdiv

