block content
    .registration-form.modal
        .modal-content
            h4 Registrera konto
            form(action ='/signup', method = 'post', enctype='application/x-www-form-urlencoded')
                .input-field
                    input(id = 'username-register', name ='user[name]', type = 'text')
                    label(for = 'username-register') Välj ett användarnamn
                .input-field
                    input(id = 'password-register', name ='user[password]',type = 'password')
                    label(for = 'password-register') Välj ett lösenord
                .errorReg-div
                    p #{userExistsMessage}
                .modal-footer
                    button(class = 'waves-effect waves-green btn-flat',id = 'login-button', type = 'submit', value = 'Submit') Registrera konto
                    a(href ='/', class = 'modal-action modal-close waves-effect waves-green btn-flat') Avbryt
