block content
    .country-form.modal
        .modal-content
            h4 Lägg till information om resmålet!
            form(action ='/main', method = 'post', enctype='application/x-www-form-urlencoded')
                .input-field
                    input(value = "", id = "country-input", name ="country",type = "text")
                .input-field
                    select(name ="information")
                        option(value='Semestrat här') Semestrat här
                        option(value='Född här') Född här
                        option(value='Bor här') Bor här
                        option(value='Jobbat här') Jobbat här
                    label Välj ett alternativ
                .input-field
                    textarea(id = "textarea1", class = "materialize-textarea", name ="comment")
                    label(for="textarea1") Eventuell kommentar (till exempel vilken/vilka städer du besökte).
                .modal-footer
                    button(class = 'waves-effect waves-green btn-flat',id = 'save-button', type = 'submit', value = 'Submit') Spara
                    a(href ='/main', class = 'modal-action modal-close waves-effect waves-green btn-flat') Avbryt