block content
    .registration-form.modal
        .modal-content
            h4 Skapa ett konto
            form(action ='/setup', method = 'post')
                .input-field
                    input(id = 'username-register', type = 'text', class = 'validate')
                    label(for = 'username-register') Välj ett användarnamn
                .input-field
                    input(id = 'password-register', type = 'password', class = 'validate')
                    label(for = 'password-register') Välj ett lösenord
                .modal-footer
                    a(href ='/main', class = 'modal-action modal-close waves-effect waves-green btn-flat',id = 'register-button', type = 'submit') Skapa konto
                    a(href ='/', class = 'modal-action modal-close waves-effect waves-green btn-flat') Avbryt
