block content
    .login-form.modal
        .modal-content
            h4 Logga in
            form(action ='/login', method = 'post')
                .input-field
                    input(id = 'username-login', type = 'text', class = 'validate')
                    label(for = 'username-login') Användarnamn
                .input-field
                    input(id = 'password-login', type = 'password', class = 'validate')
                    label(for = 'password-login') Lösenord
                .modal-footer
                    a(href ='#', class = 'modal-action waves-effect waves-green btn-flat',id = 'login-button', type = 'submit') Logga in
                    a(href ='/', class = 'modal-action modal-close waves-effect waves-green btn-flat') Avbryt