extends layout

block content
    include ./modal-login.jade
    include ./main-header.jade
    .container.landing-main-content
        h1 Hej och välkommen #{user}!
        h2 Logga in för att köra igång.
        a(class = 'waves-effect waves-light btn modal-trigger', href = '.login-form') Logga in