/* general */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,900,900italic,500italic,400italic,300italic,300,100italic,100);

body {
    background: linear-gradient(
        rgba(20,20,20, .7),
        rgba(20,20,20, .5)),
        url('../img/map.jpg');
    background-size: cover;
    color: #333;
}

/* header */

.brand-logo {
    margin-left: 10px;
}

.hide-on-med-and-down li a {
    font-weight: bold;
}

#logga-ut-mobile {
    margin-top: 100px;
}

.menu-icon {
    margin-left: 10px;
}

/* main content */

.landing-main-content {
    margin-top: 200px;
}

h1 {
    color: white;
}

h2 {
    font-size: 24px;
    color: white;
    line-height: 1.3em;
}

h3 {
    font-size: 16px;
    color: white;
    line-height: 1em;
}

/* modal */

.modal-content h4 {
    margin-bottom: 30px;
    color: #4db6ac;
}

.btn-flat {
    color: #4db6ac;
    font-weight: bold;
}

/* map */

#mapdiv {
    height: 700px;
    width: 90%;
}

/* select countries */

#listdiv {
    max-height: 200px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #fff;
}

#listdiv div ul {
    list-style: none;
    padding-left: 0;
}

#listdiv div ul li a {
    color: #4db6ac;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

#listdiv div ul li:hover {
    background-color: #4db6ac;
    cursor: pointer;
    color: #fff;
}

#listdiv div ul a:hover {
    color: #fff;
}
